.nav {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  background-color: #111;
  height: 30px;
}

.nav__logo {
  position: fixed;
  left: 20px;
  width: 80px;
  object-fit: contain;
}

.nav__avatar {
  position: fixed;
  right: 20px;
  width: 80px;
  object-fit: contain;
}
